services:
  orchestratore:
    image: gmazzitelli/cygno-webserver:v8.3-2.1.3-1
    container_name: webserver
    ports:
      - "443:443"              # HTTPS pubblico
      # - "80:80"              # se vuoi anche HTTP
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_IP: ${MYSQL_IP}
      MYSQL_IP_LNF: ${MYSQL_IP_LNF}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}
    volumes:
      - ${PWD}/apache/html:/var/www/html
      - /etc/letsencrypt/:/var/www/letsencrypt/
      - ${PWD}/apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
      - ${PWD}/apache/php.ini:/usr/local/etc/php/php.ini
      - ${PWD}/ssl/ssl.conf:/etc/apache2/mods-available/ssl.conf
      - ${PWD}/saml/saml.crt:/var/simplesamlphp/cert/saml.crt
      - ${PWD}/saml/saml.key:/var/simplesamlphp/cert/saml.key
      - ${PWD}/saml/config.php:/var/simplesamlphp/config/config.php
      - ${PWD}/saml/authsources.php:/var/simplesamlphp/config/authsources.php
    depends_on:
      - ais_proxy
      - tunnel
    networks:
      - backend

  ais_proxy:
    image: gmazzitelli/ais_proxy:v0.1   # o build locale, se preferisci
    container_name: ais_proxy
    environment:
      AISSTREAM_KEY: "${AISSTREAM_KEY}"             # definiscila in .env o export
      PROXY_BBOX: "${PROXY_BBOX:-36,7,43.8,15.8}"  # Tirreno default
      PROXY_HOST: "0.0.0.0"
      PROXY_PORT: "8080"
    expose:
      - "8080"          # visibile SOLO in rete Docker
    restart: unless-stopped
    networks:
      - backend

  tunnel:
    image: gmazzitelli/sshtunnel
    container_name: tunnel_kafka
    restart: always
    environment:
      REMOTE_PORT: 27017
      REMOTE_APP_NAME: localhost
      LOCAL_PORT: 27017
      USER: mazzitel
      REMOTE_IP: kafka.cygno.cloud.infn.it
    volumes:
      - /root/.ssh/daq_id:/root/.ssh/id_rsa:ro  # meglio read-only
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  dbweb:
