services:
  rucio-shell:
    image: gmazzitelli/rucio-shell
    container_name: rucio-daq
    env_file: .env
    volumes:
      - /root/.rucio.cfg:/app/.rucio.cfg
      - ./:/app
      - /tmp:/tmp
    stdin_open: true     # equivalente a -it
    tty: true            # equivalente a -itx


#  rucio-shell2:
#    image: gmazzitelli/rucio-shell
#    container_name: rucio-daq2
#    env_file: .env
#    volumes:
#      - /root/.rucio.cfg:/app/.rucio.cfg
#      - ./:/app
#      - /tmp:/tmp
#    stdin_open: true     # equivalente a -it
#    tty: true            # equivalente a -itx

# NB:
# il token s3 e' gia' creato da un'atro servizio nella /tmp. 
# ma se serve si puo' abilitare per un uso standalone del container
# servizo 'tokener' su macchina backend 
#
#  tokener_s3:
#    image: gmazzitelli/tokener:v0.2
#    container_name: tokener_s3
#    env_file: .env
#    environment:
#      REFRESH_TOKEN: ${REFRESH_TOKEN}
#      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
#      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
#      IAM_TOKEN_ENDPOINT: ${IAM_TOKEN_ENDPOINT}
#      SCOPES: ${SCOPES}
#      TOKEN_FILE: '/app/token'
#
#    volumes:
#      - /tmp:/app

  tokener_tape:
    image: gmazzitelli/tokener:v0.2
    container_name: tokener_tape
    env_file: .env
    environment:
      REFRESH_TOKEN: ${TAPE_REFRESH_TOKEN}
      IAM_CLIENT_SECRET: ${TAPE_IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${TAPE_IAM_CLIENT_ID}
      IAM_TOKEN_ENDPOINT: ${TAPE_IAM_TOKEN_ENDPOINT}
      SCOPES: ${TAPE_SCOPES}
      TOKEN_FILE: '/app/tape_token'

    volumes:
       - /tmp:/app
