services:
  sentinel1:
    image: gmazzitelli/cygno-st:v3.1
    container_name: sentinel1
    environment:
      PYTHONUNBUFFERED: 1
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      ENDPOINT_URL: ${ENDPOINT_URL}

      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_IP: ${MYSQL_IP}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}

      HTC_IP: ce01-htc.cr.cnaf.infn.it
      _condor_SEC_CLIENT_AUTHENTICATION_METHODS: SCITOKENS
      _condor_CONDOR_HOST: ce01-htc.cr.cnaf.infn.it:9619
      _condor_SCHEDD_HOST: ce01-htc.cr.cnaf.infn.it
      BEARER_TOKEN: "$(`cat /tmp/token`)"
      SINGULARITY: True
      STARTRUN: 60000
      ENDRUN: 60005
      NCORE: 8
      DFPANDAS: df_condor_coda1
      RECOPATH: /root/dev/reconstruction
      TAG_RECO: RECO/Run5_Saladin
      USERNAME: autoreco
      WAITTIME: 30
      MAXIDLE: 15
      DRAIN: 0

    volumes:
      - ${PWD}/dev/init.sh:/root/init.sh
      - ${PWD}/dev/.bashrc:/root/.bashrc
      - ${PWD}/dev/:/root/dev/
      - ${PWD}/submitJobs/:/root/submitJobs/
      - /tmp/:/tmp/
      - /mnt/cvmfs:/cvmfs:ro,shared

  tokener:
    image: gmazzitelli/tokener:v0.3
    container_name: tokener
    environment:
#      CREDENTIAL: True
      REFRESH_TOKEN: ${REFRESH_TOKEN}
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      IAM_TOKEN_ENDPOINT: ${IAM_TOKEN_ENDPOINT}
      SCOPES: ${IAM_SCOPES}
#      IAM_AUDINCE: ${IAM_AUDIENCE}

    volumes:
      - /tmp/:/tmp/

  editor:
    image: jupyter/minimal-notebook
    container_name: editor
    user: root
    volumes:
      - ${PWD}:/home/jovyan/work/
    ports:
      - "10000:8888"

  web:
     image: nginx:latest
     container_name: web
     ports:
       - "80:80"
     volumes:
       - ${PWD}/dev:/usr/share/nginx/html

  cvmfs:
    image: gmazzitelli/cvmfs-client:wp1-v0.2
    container_name: cvmfs-client
    privileged: true
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    volumes:
      - /mnt/cvmfs:/cvmfs:shared
    environment:
      - REPO_LIST=sft.cern.ch datacloud.infn.it sft-cygno.infn.it geant4.cern.ch
    restart: unless-stopped
    logging:
      driver: local
      options:
        max-size: "100m"
        max-file: "5"


#  tunnel:
#    restart: always
#    image: gmazzitelli/sshtunnel
#    container_name: grafana_tunnel
#    environment: 
#       REMOTE_PORT: 8081
#       LOCAL_APP_NAME: web
#       LOCAL_PORT: 80 
#       USER: mazzitel
#       REMOTE_IP: grafana.cygno.cloud.infn.it
#    volumes:
#       - /root/.ssh/daq_id:/id_rsa 

