version: '2'
services:
  sentinel1:
    image: gmazzitelli/cygno-st:v2.0.6-cygno
    container_name: sentinel1
    environment:
      PYTHONUNBUFFERED: 1
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      ENDPOINT_URL: ${ENDPOINT_URL}

      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_IP: ${MYSQL_IP}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}

      HTC_IP: 131.154.99.11
      STARTRUN: 114003
      ENDRUN: 299999
      NCORE: 8
      DFPANDAS: df_condor_coda1
      RECOPATH: reconstruction
      TAG: RECO/Run5
      WAITTIME: 0
      MAXIDLE: 15
      DRAIN: 1

    volumes:
      - ${PWD}/dev/init.sh:/root/init.sh
      - ${PWD}/dev/.bashrc:/root/.bashrc
      - ${PWD}/dev/:/root/dev/
      - ${PWD}/submitJobs/:/root/submitJobs/
      - /tmp/:/tmp/

  sentinel2:
    image: gmazzitelli/cygno-st:v2.0.6-cygno
    container_name: sentinel2
    environment:
      PYTHONUNBUFFERED: 1
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      ENDPOINT_URL: ${ENDPOINT_URL}

      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_IP: ${MYSQL_IP}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}

      HTC_IP: 131.154.99.11
      STARTRUN: 106000
      ENDRUN: 107897
      NCORE: 8
      DFPANDAS: df_condor_coda2
      RECOPATH: reconstruction
      TAG: RECO/Run5
      WAITTIME: 10
      MAXIDLE: 15
      DRAIN: 1

    volumes:
      - ${PWD}/dev/init.sh:/root/init.sh
      - ${PWD}/dev/.bashrc:/root/.bashrc
      - ${PWD}/dev/:/root/dev/
      - /tmp/:/tmp/
      
  sentinel3:
    image: gmazzitelli/cygno-st:v2.0.6-cygno
    container_name: sentinel3
    environment:
      PYTHONUNBUFFERED: 1
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      ENDPOINT_URL: ${ENDPOINT_URL}

      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_IP: ${MYSQL_IP}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}

      HTC_IP: 131.154.98.168
      STARTRUN: 40781
      ENDRUN: 43515
      NCORE: 4
      DFPANDAS: df_condor_coda3
      RECOPATH: reconstruction
      TAG: RECO/Run4
      WAITTIME: 17
      MAXIDLE: 10
      DRAIN: 1

    volumes:
      - ${PWD}/dev/init.sh:/root/init.sh
      - ${PWD}/dev/.bashrc:/root/.bashrc
      - ${PWD}/dev/:/root/dev/
      - /tmp/:/tmp/

  sentinel4:
    image: gmazzitelli/cygno-st:v2.0.6-cygno
    container_name: sentinel4
    environment:
      PYTHONUNBUFFERED: 1
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      ENDPOINT_URL: ${ENDPOINT_URL}

      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_IP: ${MYSQL_IP_LNF}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}

      HTC_IP: 131.154.98.46
      STARTRUN: 11302
      ENDRUN: 11329
      NCORE: 4
      DFPANDAS: df_condor_codaGIN
      RECOPATH: reconstruction_GIN
      CONFIGFILE: configFile_LNF.txt
      TAG: Gin/
      WAITTIME: 23
      MAXIDLE: 10
      DRAIN: 1

    volumes:
      - ${PWD}/dev/init.sh:/root/init.sh
      - ${PWD}/dev/.bashrc:/root/.bashrc
      - ${PWD}/dev/:/root/dev/
      - /tmp/:/tmp/


  tokener:
    image: gmazzitelli/tokener:v0.3
    container_name: tokener
    environment:
#      CREDENTIAL: True
      REFRESH_TOKEN: ${REFRESH_TOKEN}
      IAM_CLIENT_SECRET: ${IAM_CLIENT_SECRET}
      IAM_CLIENT_ID: ${IAM_CLIENT_ID}
      IAM_TOKEN_ENDPOINT: ${IAM_TOKEN_ENDPOINT}
      SCOPES: ${IAM_SCOPES}
#      IAM_AUDINCE: ${IAM_AUDIENCE}

    volumes:
      - /tmp/:/tmp/

  editor:
    image: jupyter/minimal-notebook
    container_name: editor
    user: root
    volumes:
      - ${PWD}:/home/jovyan/work/
    ports:
      - "10000:8888"

  web:
     image: nginx:latest
     container_name: web
     ports:
       - "80:80"
     volumes:
       - ${PWD}/dev:/usr/share/nginx/html

#  tunnel:
#    restart: always
#    image: gmazzitelli/sshtunnel
#    container_name: grafana_tunnel
#    environment: 
#       REMOTE_PORT: 8081
#       LOCAL_APP_NAME: web
#       LOCAL_PORT: 80 
#       USER: mazzitel
#       REMOTE_IP: grafana.cygno.cloud.infn.it
#    volumes:
#       - /root/.ssh/daq_id:/id_rsa 
